<body>
    
    <link rel="stylesheet" href="css/importGoodsStyle.css" />
    <div class="panel-container">

        <h3>Nhập chi tiết đơn hàng</h3>

        <div class="card-body import-good-main-panel">
            <div id="add-btn">
                <i class="fa-solid fa-plus add-new-line"></i>
            </div>

            <div class="input-group mb-3 input-row"  id="row-1">
                <span class="input-group-text">Mặt hàng</span>
                <select class="form-select">
                    {{#each goodsList}}
                    <option value="{{this.ma_mat_hang}}">{{this.ten_mat_hang}}</option>
                    {{/each}}
                </select>
                <span class="input-group-text" id="basic-addon1">Số lượng</span>
                <input type="number" class="form-control" id="last-name" value="" required>
                <span class="input-group-text" id="basic-addon1">Giá nhập</span>
                <input type="number" class="form-control" id="last-name" value="" required>
                <span class="input-group-text " id="basic-addon1">Ngày SX</span>
                <input type="date" class="form-control mf-date" id="last-name" value="" required>
                <i class="fa-solid fa-delete-left" id="delete-btn-1"></i>

            </div>

        </div>
    </div>
    <script src="script/importGoodsScript.js"></script>
</body>