.btn-primary{
    background-color: #475D8F !important; 
}
body{
    font-size: 20px;
}
a{
    text-decoration: none;
}
.show{
    display: block !important;
}
.hidden{
    display: none !important;
}
.super-container{
    min-height: calc(100vh - 540px);
}